@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, black, rgba(173, 0, 150, 0.842));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 25px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.932);
    width: 600px;
    height: 680px;
}
button{
    border: none;
    background-color: rgba(128, 128, 128, 0.774);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.932);
    width: 110px;
    height: 80px;
    cursor: pointer;
    font-size: 36px;
    margin: 10px;
}

.btn:hover{
    border: 1px solid black;
   -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

#resultado{
   background-color: white;
   width: 500px;
   margin-left: 10px;
   height: 50px;
   text-align: right;
   font-size: 40px;
   margin-bottom: 20px;
}

